.authorization__page {
    background: url('../../../assets/authorizationPage/background.png') no-repeat 100%/cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;  
    min-height: 100vh;
}