.authorization__page {
    background: url('../../../assets/authorizationPage/background.png') no-repeat 100%/cover;
    min-height: 100vh;
    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;  
}