.searches {
    padding: 48px 32px;
    background: #FFFFFF;
    box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    margin-bottom: 30px;
    max-height: calc(90vh - 30px);
    max-width: 664px;
    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__date {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: #41522E;
    }
    &__route {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 38px;
        display: flex;
        align-items: center;
        color: #424242;
        &-city {
            overflow: hidden;
        }
        &-arrow {
            padding: 0 20px;
        }
    }
    &__imgs {
        width: 100%;
        margin: 28px 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, 164px);
        grid-auto-flow: column;
        grid-template-rows: 149px; 
        column-gap: 12px;
        overflow-x: scroll;
        align-items: center;
        &::-webkit-scrollbar {
            display: none;
            width: 0;
        }
        img {
            display: block;
            width: 164px;
            height: 149px;
            object-fit: cover;
            border-radius: 10px;
        }
    }
    &__hotels {
        height: 100%;
    }
    &__result {
        max-height: 100%;
        &-favorite {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 17px;
            line-height: 22px;
            letter-spacing: -0.408px;
            color: #424242;
            margin-bottom: 12px;
            span {
                margin-left: 8px;
                margin-right: 4px;
                font-weight: 500;
                font-size: 17px;
                line-height: 22px;
                letter-spacing: -0.408px;
                color: #41522E;
            }
        }
        &-hotels {
            overflow-y: scroll;
            // max-height: 350px;
            &::-webkit-scrollbar {
                width: 2px;
                background-color: #E7E7E7;
            }
            &::-webkit-scrollbar-thumb {
                background: #41522E;
                border-radius: 2px;
            }
            &::-webkit-scrollbar-track {
                background-color: #E7E7E7;
            }

        }
        &-items {
            margin-top: 8px;
            margin-right: 16px;
            //исправить
            max-height: 326px;
            :last-child {
                border-bottom: none;
            }
        }
        &-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid rgba(135, 135, 135, 0.2);    
            :last-child {
                border-bottom: none;
            }
            &-img {
                background: rgba(65, 82, 46, 0.05);
                min-width: 64px;
                min-height: 64px;
                border-radius: 100%;    
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 24px;
                img {
                    width: 35px;
                    height: 35px;
                }
            }
        }
    }
}