.heart {
  path {
    &:hover {
      fill: #ebebeb;
      stroke: #c4c4c4;
      cursor: pointer;
    }
    &:active {
      fill: #e55858;
      stroke: #e55858;
      cursor: pointer;
    }
  }
  &-active {
    path {
      fill: #e55858;
      stroke: #e55858;
      cursor: pointer;
    }
  }
}
