.heart path {
    &:hover {
        fill: #EBEBEB;
        stroke: #C4C4C4;
        cursor: pointer;
    }
    &:active {
        fill: #E55858;
        stroke: #E55858;    
        cursor: pointer;
    }

}