.input {
  background: #ffffff;
  border: 1px solid #c9cacc;
  border-radius: 4px;
  padding: 16px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  color: #424242;
  width: 100%;
  -webkit-appearance: none;
  &-error {
    color: #eb1717;
  }
}
